@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Rubik:wght@500&display=swap');
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
    content: "^";
    position:absolute;
    right: 0;
    font-family:monospace;
    line-height:
}

input[type=number]::-webkit-inner-spin-button:before {
    top:0px;
}

input[type=number]::-webkit-inner-spin-button:after {
    bottom:0px;
    -webkit-transform: rotate(180deg);
}
.MainTableContainer
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
}
.row_editHeading{
    background-color: rgba(90, 85, 85, 0.205);
    width:120px;
    height: 30px;
}
.row_editContent{
    background-color: rgba(40, 109, 126, 0.377);
    font-size: smaller;
    width:120px;
    height: 30px;
}
.input_edit
{
    width:35px;
    background-color: transparent;
 border-color: transparent;
 text-align: right;
}

